/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v18-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }

  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

  /* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v18-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v18-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  /* merriweather-300 - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/merriweather-v22-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather-v22-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather-v22-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather-v22-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather-v22-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather-v22-latin-300.svg#Merriweather') format('svg'); /* Legacy iOS */
  }
  /* merriweather-regular - latin */
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather-v22-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
  }


html{
    -webkit-box-sizing: border-box ;
            box-sizing: border-box ;
    
}

*, *::before,*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    line-height: 1.2;
}
img{
    max-width: 100%;
    height: auto;
}

.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 75px;
}

.title::before{
    content: '';
    width: 60px;
    background:1px solid #FCBB08;
}
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
    /*Heder styles start */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}    
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 40px 0;
    background-color: #FFFFFF;
}

.header__logo{
    margin-left: 52px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    
}
.header__item{
    margin-right: 51px;
    
}
.header__link{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #373A39;
}

.header__link::after{
    content: '';
    display: block;
    width: 100%;
    border: 1px solid #FCBB08;
    margin-top: 9px;
    transform: scaleX(0);
    transition: all 0.3s;
}

.header__link:hover::after,.header__link:focus::after{
    transform: scaleX(1);
}


    /*Heder styles end */



    /*Mein styles start */



    /*Intro styles start */
.intro{  
    height: 100vh;
    background:url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
}

.intro__conteiner{
    display: flex;
    flex-direction:column ;
    justify-content:center ;
    align-items:center ;
    flex-wrap: wrap;
}
.inrto__title{
    padding-top: 307px;
    max-width: 440px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    color: #FFFFFF;
}

.intro__subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FCBB08;
    margin-top: 40px;
}

.intro__ico-scrol{
    padding-bottom: 62px; 
    margin-top: 180px;
}

    /*Intro styles end */



    /*About styles start */
.about{
    background: #F6F8FA;
}

.about__conteiner{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 43px;
    padding-top: 152px;
    padding-bottom: 152px;
}
.about__title{
    grid-column: span 4;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 75px;
    color: #242121;
}



.about__subtitle{
    grid-column: span 8;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39; 
}

.about__subtitle-first{
    margin-bottom: 10px;
}    
    /*About styles end */




    /*Expertise styles start */
.expertise{
    background: #FFFFFF;
}    

.expertise__title{
    padding-top: 143px;
    margin-bottom: 89px;
}
.expertise__content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap:30px ;
}

.expertise__content-items{
    grid-column: span 4;
    vertical-align:text-top;
}

.expertise__text{
    grid-column: span 8;
}

.expertise__items{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
}
.expertise__item{
    grid-column: span 4;
}

label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #1D1D1D;
}


progress{
    width: 100%;
    height: 2px;
    
}

progress::-webkit-progress-value{
    background: #F0F0F0;
}

progress::-webkit-progress-max{
    background: #1D1D1D;
}
.first__chaild-branding{
    margin-right: 275px;
}

.first__chaild-desing{
    margin-right: 255px;
}

.first__chaild-development{
    margin-right: 232px;
}

.expertise__text-first{
    margin-bottom: 10px;
}
    /*Expertise styles end */



    /*Mein styles end */