/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v18-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }

  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

  /* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v18-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v18-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  /* open-sans-regular - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

  /* merriweather-300 - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/merriweather-v22-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather-v22-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather-v22-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather-v22-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather-v22-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather-v22-latin-300.svg#Merriweather') format('svg'); /* Legacy iOS */
  }
  /* merriweather-regular - latin */
  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/merriweather-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/merriweather-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/merriweather-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/merriweather-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/merriweather-v22-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
  }


html{
    -webkit-box-sizing: border-box ;
            box-sizing: border-box ;
    
}

*, *::before,*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
body{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    line-height: 1.2;
}
img{
    max-width: 100%;
    height: auto;
}

.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 75px;
}

.title::after{
    content: '';
    display: block;
    width: 60px;
    border: 2px solid #FCBB08;
    margin-top: 14px;
}
.title::before{
    content: '';
    width: 60px;
    background:1px solid #FCBB08;
}
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
    /*Heder styles start */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}    
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 40px 0;
    background-color: #FFFFFF;
}

.header__logo{
    margin-left: 52px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;    
}
.header__item{
    margin-right: 51px;
    
}
.header__link{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #373A39;
}

.header__link::after{
    content: '';
    display: block;
    width: 100%;
    border: 1px solid #FCBB08;
    margin-top: 9px;
    transform: scaleX(0);
    transition: all 0.3s;
}

.header__link:hover::after,.header__link:focus::after{
    transform: scaleX(1);
}


    /*Heder styles end */



    /*Mein styles start */



    /*Intro styles start */
.intro{
    position: relative;  
    height: 100vh;
    background:url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
}

.intro__conteiner{
    display: flex;
    flex-direction:column ;
    justify-content:center ;
    align-items:center ;
    flex-wrap: wrap;
}
.inrto__title{
    padding-top: 307px;
    max-width: 440px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    color: #FFFFFF;
}

.intro__subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FCBB08;
    margin-top: 40px;
}

.intro__ico-scrol{
    position: absolute;
    bottom: 0;
    padding-bottom: 62px; 
}

    /*Intro styles end */



    /*About styles start */
.about{
    background: #F6F8FA;
}

.about__conteiner{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 43px;
    padding-top: 152px;
    padding-bottom: 152px;
}
.about__title{
    grid-column: span 4;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 75px;
    color: #242121;
}



.about__subtitle{
    grid-column: span 8;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #373A39; 
}

.about__subtitle-first{
    margin-bottom: 10px;
}    
    /*About styles end */




    /*Expertise styles start */
.expertise{
    background: #FFFFFF;
}    
.expertise__title{
    padding-top: 143px;
    margin-bottom: 89px;
}
.expertise__content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap:30px ;
    justify-content: start;
}

.expertise__content-items{
    grid-column: span 4;
}

.expertise__text{
    grid-column: span 8;
    
}

.expertise__text-first{
    margin-bottom: 10px;
}
.expertise__items{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
}
.expertise__item{
    grid-column: span 4;
    padding-top: 121px;
    padding-bottom: 124px;
    display: flex;
}

.expertise__item-img{
    margin-right: 38px;
}

.expertise__item-title{
    margin-bottom: 18px;
}

.expertise__content-items .expertise__content-item .progress-line{
    position: relative;
    height: 2px;
    width: 100%;
    background: #F0F0F0;
    transform: scaleX(0);
    transform-origin:left ;
    box-shadow: inset 0px 1px 1px rgb(0, 0,0, 0.05),
                      0px 1px  rgb(225, 225,225, 0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards; 
}

.expertise__content-item{
    margin-top: 28px;
}

.expertise__content-item:first-child{
    margin-top: 6px;
}
.info {
    margin-top: 5px;
}

.expertise__content-item .progress-line span{
    height: 100%;
    background: #1D1D1D;
    position: absolute;
    transform: scaleX(0);
    transform-origin:left ;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards; 
}

@keyframes animate {
     100%{
        transform: scaleX(1);
     }

}

.progress-line.branding span{
    width: 90%;
}

.progress-line.design span{
    width: 80%;
}

.progress-line.development span{
    width: 85%;
}

.expertise__content-item .progress-line span::after{
    position: absolute;
    right: -14px;
    top: 0;
    color: #1D1D1D;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;      
}

.progress-line.branding span::after{
    content: '90%';
}

.progress-line.design span::after{
    content: '80%';
}

.progress-line.development span::after{
    content: '85%';
}

    /*Expertise styles end */



    /*Feature styles start */

.features{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


.features__conteiner{
    grid-column: span 6;  
}
.features__img{
    width: 100%;
    height: 100%;
    
}

.features__inner{
    grid-column: span 6;
    align-self: center;  
}

.features__wrapper{
    max-width: 590px;
    margin: 0 auto;
    padding: 101px 10px 180px 10px;
}

.features__title{
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 67px;
}

.features__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}
.features__text-first{
    margin-bottom: 10px;
}

    /*Feature styles end */



    /*Portfolio styles start */
.portfolio__wrapper{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 139px 0 103px 0;
    background-color: #FFFFFF;
}
.portfolio__list{
    display: flex;
    flex-wrap: wrap;  
}

.portfolio__item{
    margin-right: 45px;
}

.portfolio__item:last-child{
    margin-right:0;
}

.portfolio__link{
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #333333;
}
.portfolio__link::after{
    content: '';
    display: block;
    width: 100%;
    border: 1px solid #FCBB08;
    margin-top: 9px;
    transform: scaleX(0);
    transition: all 0.3s;
}

.portfolio__link:hover::after,.portfolio__link:focus::after{
    transform: scaleX(1);
}

.portfolio__items{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 22px;
    margin-bottom: 72px;
}

.portfolio__img{
       
    background-image:  url(../img/img.features.jpg);
    background-size: cover;
}
.portfolio__img{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.portfolio__img{
    background: linear-gradient(0deg, rgba(36, 33, 33, 0.8), rgba(36, 33, 33, 0.8)), #EDEDED;
    border: 12px solid rgba(255, 255, 255, 0.147164);
}

.portfolio__info{
    margin: 0;
}
.portfolio__imeg--1{
    grid-column: 1/3;
    grid-row:1/8 ;  
}

.portfolio__imeg--2{
    grid-column: 3/5;
    grid-row:1/5 ;
}

.portfolio__imeg--3{
    grid-column: 5/7;
    grid-row:1/6 ;
}

.portfolio__imeg--4{
    grid-column: 7/9;
    grid-row:1/7 ;
}
.portfolio__imeg--5{
    grid-column: 1/3;
    grid-row:8/13 ;
}

.portfolio__imeg--6{
    grid-column: 3/5;
    grid-row:5/9 ;
}

.portfolio__imeg--7{
    grid-column: 3/5;
    grid-row:9/13 ;
}

.portfolio__imeg--8{
    grid-column: 5/7;
    grid-row:6/13 ;
}

.portfolio__imeg--9{
    grid-column: 7/9;
    grid-row:7/13 ;
}

.portfolio__button{
    display: flex;
    width: 100%;
    background: #F6F8FA;
    border: none;
    padding: 42px;
    align-items: center;
    justify-content: center;
}

.portfolio__button:hover, .portfolio__button:active,.portfolio__button:focus{
    background: #898b8d6e;
}
    /*Portfolio styles end */

    /*Video styles start */
.video{
    text-align: center;
} 
.video__quotes{
    padding-top: 130px;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
}

.quotes__quotes-autor{
    margin-top:51px ;
    padding-bottom: 148px;
    font-family: Merriweather;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
}
    /*Video styles end */


    /*Video__prez styles start */
.video__prez{
    width: 100%;
}
.videos__conteiner{
    
    position: relative;
}
.video__item{
    padding-top: 56.25%;
}
.videos__element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
    /*Video__prez styles end */



    /*Statistics styles start */
.statistics__cards{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 164px 0 166px 0;
    text-align: center;
}    

.statistics__card{
    grid-column: span 3;
}
.tatistics__result{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #242121;
}

.tatistics__item{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #00B2A0;
}

    /*Statistics styles end */



    /*Slider styles start */

    /* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list{
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider{
    position: relative;
    padding: 0 110px ;
}

.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -90px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 35px;
    height: 35px;
    border: 0;
}

.slider .slick-arrow.slick-prev{
    left: 0;
    background: url(../img/svg/arrow-left.ico.svg) 0 0 / 100% no-repeat;
    margin-left: 25px;
}

.slider .slick-arrow.slick-next{
    right: 0;
    background: url(../img/svg/arrow-right.ico.svg) 0 0 / 100% no-repeat;
    margin-right: 25px;
}


.slider .slick-dots{
    display: flex;
    padding-bottom: 114px;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0 13px;
}

/* Элемент точки */
.slider .slick-dots li button{
    font-size: 0;
    height: 10px;
    width: 10px;
    border: none;
    border-radius: 50%;
    background-color: rgb(36, 33, 33,0.4);
    
}

/* Активная точка */
.slider .slick-dots li.slick-active button {
    background-color: rgb(36, 33, 33);
    height: 15px;
    width: 15px;
    
}

.slider__item{
    padding: 150px 0 150px 0 ;
}

.slider__item-title{
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #242121;
}

.slider__item-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    
}
/*Slider styles end */



/*Team styles start */

.team__title{
    padding: 120px 0 120px 0;
}

.team__items{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 30px;
    padding-bottom: 165px;
}

.team__item{
    grid-column: span 4;
    text-align: center;
}

.team__item-name{
    margin-top: 35px;
}

.team__item-position{
    margin-top: 12px;
}
/*Team styles end */

/*Pricing styles start */
.pricing{
    background: #F6F8FA;
}
.pricing__title{
    padding: 144px 0 91px 0; 
}

.pricing__cards{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 30px;
    padding-bottom: 162px;
    

}

.pricing__card{
    position: relative;
    grid-column: span 4;
    padding: 24px 10px 53px 10px;
    text-align: center;
    background: #FFFFFF;
}

.pricing__card-name{
    position: absolute;
    top: 4%;
    left: 7%;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #242121;
    
}


.pricing__card-rate{ 
    position: relative;
    margin-top: 36px;
    font-weight: 300;
    font-size: 80px;
    line-height: 109px;
    color: #242121;
}

.pricing__card-rate span{
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #242121;
}

.pricing__card-rate::before{
    position: absolute;
    top: 14%;
    left: 21%;  
    content: '$';
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;     
}
.pricing__card-list{
    margin: 41px 0 69px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #242121;
}

.pricing__card-item{
    margin-top: 30px;
}

.pricing__card-btn{
    border: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    background: #FFFFFF;
    color: #242121;
}
.pricing__card-btn::after{
    content: '';
    display: block;
    width: 100%;
    border: 1px solid #FCBB08;
    margin-top: 9px;
    transform: scaleX(0);
    transition: all 0.3s;
}

.pricing__card-btn:hover::after,.pricing__card-btn:focus::after{
    transform: scaleX(1);
}

/*Pricing styles end */



/*Contacts styles start */

.contacts{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.contacts__wrapper{
    width: 75%;
    margin: 0 auto;
    grid-column: span 6;
    padding: 145px 10px 162px 10px;
}

.contacts__location{
    grid-column: span 6;
}

.contacts__location-map{
    width: 100%;
    height: 100%;
}
.contacts__form{
    display: flex;
    flex-direction: column;
}

.contacts__title{
    margin-bottom: 94px;
    letter-spacing: -1.65px;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    color: #242121;
}

.contacts__form-input{
    margin-bottom: 68px;
    border: 0;
    padding: 0 0 16px 0;
    border-bottom: 2px solid #373A39;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3.70909px;
    color: #B8B8B8;
}



.contacts__form-textarea{
    min-height: 250px;
    resize: none;
    border: 0;
    border-bottom: 2px solid #373A39;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 3.70909px;
    color: #B8B8B8;
}
.contacts__form-btn{
    
    border: 0;
    height: 45px;
    width:50% ;
    margin-top: 40px;
    background: #242121;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
}

.contacts__form-btn:hover,.contacts__form-btn:focus{
    color: #242121;
    background: #FCBB08;
    transition: 0.4s;
}


/*Contacts styles end */



/*Footer styles start */
.footer {
    background: #373A39;
}

.footer__content{
    padding: 110px 10px 60px 10px;
       
}

.footer--line::after{
    content: '';
    display: block;
    width: 12%;
    border: 2px solid #FCBB08;
    margin-top: 24px;
    
}
.footer__social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 65px 0 0 0;
}

.footer__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 65px 0 0 0;
    
}

.footer__social-link{
    margin-right: 25px;
   font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 4px;
    text-decoration: none;
    color: #FFFFFF;
}

.footer__social-link:last-child{
    margin-right: 0;
}
.footer__social-link::after{
    content: '';
    display: block;
    width: 100%;
    border: 1px solid #FCBB08;
    margin-top: 9px;
    transform: scaleX(0);
    transition: all 0.3s;
}

.footer__social-link:hover::after,.footer__social-link:focus::after{
    transform: scaleX(1);
}
.footer__adress{
    margin: 0 0 21px 0;
    font-size: 14px;
    line-height: 32px;
    color: #A8A8A8;
    text-decoration: none;
}

.footer__phone{
    margin: 0 0 21px 0;
    font-size: 14px;
    line-height: 32px;
    color: #A8A8A8;
    text-decoration: none;
}

.footer__mail{
    font-size: 14px;
    line-height: 32px;
    color: #A8A8A8;
    text-decoration: none;
}
.footer__btn-app{
    width: 17px;
    height: 9px;
    border: none;
    margin: 57px 0 0 0;
    background: url(../img/svg/angle-up.ico.svg) center center no-repeat;
}

.footer__year{
    padding: 42px 10px 42px 10px;
    text-align: center;
    background: #2A2C2B;
    font-size: 12px;
    line-height: 16px;
    color: #CCCCCC;
}
/*Footer styles end */


    /*Mein styles end */

@media  screen and ( max-width: 1024px) {
    .wrapper{
        padding: 0 10px;
    }
    .intro{
        height: 66vh;
    }
    .about__conteiner{
        padding:  90px 0px 90px 0px;
    }

    .expertise__title{
        padding-top: 90px;
    }
    .intro__ico-scrol{
        display: none;
    }
    .features__conteiner{
        grid-column: span 12;
    }
    .features__inner{
        grid-column: span 12;
    }

    .features__wrapper{
        padding: 90px 10px 90px 10px;
    }

    .portfolio__wrapper{
        padding: 80px 10px 80px 10px;
    }

    .statistics__cards{
        padding: 100px 0;
    }
    .slider__item{
        padding: 90px 0 ;
    }

    .team__title{
        padding: 90px 0;
    }

    .team__items{
        padding-bottom: 90px;
    }

    .pricing__title{
        padding: 90px 0;
    }

    .pricing__card-rate::before{
        left: 15%;
    }

    .pricing__cards{
        padding-bottom: 90px;
    }

    .contacts__location-map{
        height: auto;
        padding: 165px 10px 0 0 ;
    }
}

@media  screen and ( max-width: 968px) {
    .intro__ico-scrol{
        display: none;
    }

    .title {
        font-size: 47px;
    }

    .porfolio__title {
        margin-bottom: 50px;
    }

    .portfolio__wrapper{
        padding: 50px 10px;
    }
    .portfolio__wrapper{
        text-align: center;
    }

    .portfolio__nav{
        
    }

    .portfolio__items{
        grid-gap: 10px;
    }

    .video{
        padding: 0 10px;
    }

    .video__quotes{
        padding-top: 110px;
    }

    .quotes__quotes-autor{
        padding-bottom: 110px;
    }

    .tatistics__result{
        font-size: 48px;
    }

    .slider .slick-dots{
        padding-bottom: 50px;
    }

    .pricing__card-rate::before{
        left: 5%;
    }

    .contacts__location-map{
        padding-top: 230px;
    }
    .contacts__title{
        font-size: 45px;
    }

    .pricing__card-rate{
        font-size: 70px;
    }
}


@media  screen and ( max-width: 767px) {

    .title{
        font-size: 38px;
    }

    .header__logo-link{
        margin: 0 0 0 85px;
    }
    .header__item{
        margin: 20px 0 0 20px ;
    }
    .inrto__title{
        padding-top: 224px;
        font-size: 40px;
    }

    .intro__subtitle{
        margin: 0;
    }

    .about__conteiner{
        grid-template-columns: repeat(6,1fr);
        padding-top: 30px;
    }

    .about__title{
        grid-column: span 6;
        margin-bottom: 30px;
    }

    .about__subtitle{
        grid-column: span 6;
    }

    .expertise__title{
        padding: 50px 0 0 0;
        margin: 0 0 50px 0;
    }

    .expertise__content{
        grid-template-columns: repeat(6,1fr);
        column-gap: 0;
        row-gap: 30px;
    }

    .expertise__content-items{
        grid-column: span 6;
        justify-content: center;
    }

    .expertise__text{
        grid-column: span 6;
        line-height: 24px;
    }

    .expertise__items{
        grid-template-columns: repeat(6,1fr);

    }

    .expertise__item{
        grid-column: span 6;
        padding: 40px 0 40px 0;
    }

    .features__wrapper{
        padding: 50px 10px 50px 10px;
        margin-bottom: 50px;
    }

    .features{
        grid-template-columns: repeat(6,1fr);
    }

    .features__conteiner{
        grid-column: span 6;
    }

    .features__inner{
        grid-column: span 6;
    }
    .portfolio__wrapper{
        padding: 0 10px 50px 10px;
    }

    .portfolio__item{
        margin:0 0 0 25px;
    }

    .portfolio__items{
        display: flex;
        flex-direction: column;
           
    }

    .portfolio__img{
        height: 300px; 
    }
    
    .statistics__card{
        grid-column: span 6;
    }

    .statistics__cards{
        padding: 50px 0 50px 0;
        row-gap: 30px
        ;
    }

    .slider{
        display: none;
    }

    .team__title{
        padding: 50px 0 50px 0;
    }

    .team__items{
        grid-template-columns: repeat(6,1fr);
        column-gap: 0;
        row-gap: 30px;
    }
    .team__item{
        grid-column: span 6;
    }

    .pricing__title{
        padding: 50px 0 50px 0;
    }

    .pricing__cards{
        grid-template-columns: repeat(6,1fr);
        row-gap: 30px;
    }

    .pricing__card{
        grid-column: span 6;
    }

    .pricing__card-item{
        margin-top: 23px;
    }
    .contacts{
        grid-template-columns: repeat(6,1fr);
    }

    .contacts__location-map{
        padding: 50px 10px;
    }
    .contacts__wrapper{
        padding: 50px 10px;
    }

    .footer__content{
        padding-top: 50px;
    }
}